{% extends 'base.html.twig' %}

{% block body %}
    <h1>Project</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ project.id }}</td>
        </tr>
        <tr>
            <th>Repositoryurl</th>
            <td>{{ project.repositoryUrl }}</td>
        </tr>
        <tr>
            <th>Datecreated</th>
            <td>{% if project.dateCreated %}{{ project.dateCreated|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        </tbody>
    </table>

    <div>
        <p>
            <a href="{{ path('project_index') }}">Back to the list</a>
        </p>
        <p>
            <a class="btn btn-primary" href="{{ path('project_edit', { 'id': project.id }) }}">Edit</a>
        </p>
        <div>
            {{ form_start(delete_form) }}
            <input class="btn btn-danger" type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </div>
    </div>
{% endblock %}